@media screen and (max-width: 768px) {
  .wrap {
    padding: 32px 24px;
  }

  header .wrap {
    padding: 15px 24px !important;
  }

  header nav ul {
    display: none;
  }

  nav {
    gap: 24px;
  }
  .menu-btn {
    display: block;
  }

  body:has(#menu:checked) nav ul,
  body:has(#menu:checked) .close-btn {
    display: flex;
  }

  nav ul {
    justify-content: center;
  }

  body:has(#menu:checked) .menu-btn {
    display: none;
  }

  .close-btn {
    position: absolute;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 72px 48px;
    gap: 48px;
  }

  #home {
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  #home > div {
    width: auto;
  }

  #home > img {
    width: 100%;
    margin-left: 0;
  }

  .data-home {
    align-items: center;
    gap: 30px;
  }

  .data-home > p::after {
    content: url(./img/home-circle.svg);
    position: absolute;
    bottom: -15px;
    right: 20%;
    width: 16px;
    height: 16px;
  }

  .data-home > p::before {
    display: none;
  }

  button {
    align-self: center;
  }

  .data-home > h2,
  .data-home > h2 span {
    text-align: center;
  }

  .data-home > h2 {
    background-position: bottom left;
    background-size: 50px;
  }

  #list,
  .box-group-data {
    flex-direction: column;
  }

  .box-group-data p {
    text-align: center;
  }
  .box-group-data p::before {
    left: 0;
    width: 50px;
  }
  .box-group-data a {
    width: 40%;
  }

  #health {
    flex-direction: column-reverse;
  }
  .data-health {
    text-align: center;
  }

  .heart-rate {
    left: 4%;
  }

  .svg-wrap {
    width: 36px;
    height: 36px;
  }

  .course {
    right: 4%;
  }
}
